.body {
    background: rgb(45,123,187);
    background: linear-gradient(95deg, rgba(45,123,187,1) 16%, rgba(176,20,127,1) 92%);
     box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);;
      }

.hola {
    border-radius: 1px solid black;
}
      
#galeria img {
    width: 100%;
}

#galeria img:hover {
    border: 5px solid #f7f7f7;
    transition: 0.5;
}

.texto2 {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    
}

.textdecoration {
    Text-decoration:none;
}

